.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: none; 
  }
.column-left{
  float: left;
  width: 66%;
  text-align: left;
}
.column-right{
  float: right;
  width: 33%;
  text-align: right;
}
.column-l{
  float: left;
  width: 33%;
  text-align: left;
}
.column-c{
  display: inline-block;
  width: 33%;
  text-align: center;
}
.column-r{
  float: right;
  width: 34%;
  text-align: right;
}
.column-lss{
 float: left;
  width: 66%;
  text-align: left; 
}
.column-lf{
  float: left;
  width: 50%;
  text-align: left; 
}
.column-rf{
  float: right;
  width: 50%;
  text-align: left; 
}